@charset "UTF-8";
/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;
  --white: #ffffff;
  --white300: #f9f9f9;
  --bgContent: #f6f6f6;
  --title: #2b2b2b;
  --text: #555555;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input {
  border: 0;
}

button:focus, input:focus {
  border: 0;
}

#container {
  background-color: var(--bgSite);
}

#container .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 100px;
  padding: 40px 0;
}

#container .container-header .img {
  height: 360px;
  width: 500px;
}

#container .container-header h1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  line-height: 47px;
  font-size: 36px;
}

#container .container-header p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 19px;
  padding-top: 18px;
  margin-bottom: 45px;
}

#container .container-header button {
  border-radius: 5px;
  width: 155px;
  height: 50px;
  background-color: var(--buttonColor);
  -webkit-box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
          box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  color: #f6f6f6;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#container .container-header button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#container .container-main {
  background-color: var(--bgContent);
}

#container .container-main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 100px;
  padding: 150px 0;
  row-gap: 68px;
  -webkit-column-gap: 111px;
          column-gap: 111px;
}

#container .container-main .main-content .card {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#container .container-main .main-content .card .bg {
  height: 222px;
}

#container .container-main .main-content .card .content-card {
  background-color: var(--white);
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

#container .container-main .main-content .card .content-card h3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 30px;
  color: var(--title);
  margin-bottom: 26px;
}

#container .container-main .main-content .card .content-card p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: var(--text);
}

#container .footer .footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container .footer .footer-div h3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 32px;
  color: var(--title);
  padding-top: 85px;
  margin-bottom: 60px;
}

#container .footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 435px;
  padding-right: 435px;
  padding-bottom: 80px;
  width: 100%;
}

#container .footer form input {
  background-color: var(--white);
  border-radius: 6px;
  padding: 20px 15px 20px 15px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  outline: none;
}

#container .footer form .textarea {
  padding: 20px 15px 70px 15px;
}

#container .footer form button {
  background: var(--buttonColor);
  -webkit-box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
          box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  padding: 13px 0;
  width: 100%;
  text-align: center;
  color: #f6f6f6;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#container .footer form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .container-header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .container-header h1 {
    margin-top: 55px !important;
  }
  .container-header .img {
    margin-top: 114px !important;
    margin-bottom: 88px !important;
    width: 350px !important;
    height: 250px !important;
  }
  .footer form {
    padding-left: 220px !important;
    padding-right: 220px !important;
    padding-bottom: 80px !important;
  }
}

@media (max-width: 768px) {
  #container {
    width: 100%;
  }
  #container .container-header {
    margin-left: 60px !important;
    margin-right: 60px !important;
    padding: 20px 0 !important;
  }
  #container .container-header h1 {
    font-size: 34px !important;
  }
  #container .container-header p {
    font-size: 16px !important;
  }
  #container .container-header .img {
    margin-top: 54px !important;
    margin-bottom: 44px !important;
    width: 350px !important;
    height: 220px !important;
  }
  #container .container-header button {
    font-size: 18px !important;
  }
  .container-main .main-content {
    margin: 0 50px !important;
    padding: 75px 0 !important;
  }
  .container-main .main-content .content-card h3 {
    font-size: 26px !important;
  }
  .container-main .main-content .content-card p {
    font-size: 16px !important;
  }
  .footer .footer-div h3 {
    font-size: 30px !important;
  }
  .footer form {
    padding: 20px !important;
  }
  .footer form button {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=styles.css.map */